
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
body {
    background-color: whitesmoke;
    background-image: url("https://64.media.tumblr.com/834c089ba3b2ec44a5529ef75d4d0598/46719f51c4f732c3-de/s2048x3072/b9b9b174310ef44841ed4964e880453e8fa85edf.png");
}

.form {
    width: 80%;
    margin: 60px auto 0;
}

.form span {
    font-size: 25px;
    margin-right: 20px;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.form input {
    margin-right: 30px;
}

.form button {
    border: none;
    padding: 15px;
    font-size: 20px;
    background-color: blue;
    color: black;
}

.validacion {
    width: 80%;
    color: red;
    margin: 0 auto;
}

.lista {
    width: 80%;
    margin: 50px auto 0;
}

.tarea {
    font-size: 20px;
    margin: 20px 0 15px 0;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    background-color: rgb(245, 245, 145);
}